<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <!-- Header section start -->
    <header>
      <div class="logo"><a href="#">Diboy Kitchen</a></div>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li>
            <a
              href="https://www.linkedin.com/in/dicky-h-772a5b136/"
              target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <!-- Header section end -->

    <main>
      <!-- Hero section start -->
      <section class="hero">
        <h1>Enjoy The Beautiful Art of Taste</h1>
      </section>
      <!-- Hero section end -->

      <!-- menu section start -->
      <section class="menu">
        <div>
          <h2 class="title-section">Our Menu</h2>
        </div>
        <div class="menus"></div>
      </section>

      <!-- menu section end -->

      <!-- ccontent section start -->
      <section class="favorite">
        <div>
          <h2 class="title-section">Our Recomendation Restaurant</h2>
        </div>
        <div class="articles"></div>
      </section>
      <!-- content section end -->

      <footer>
        <p>&copy; 2022 Diboy Kitchen. All rights reserved.</p>
      </footer>
    </main>
  </body>
</html>
