@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

$main: lightgrey;
$secondary: rgb(0, 48, 56);
$text: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}
html {
  scroll-behavior: smooth;
}

*:focus {
  outline: white solid 2px;
  outline-offset: 3px;
  border-radius: 5px;
}

a {
  display: block;
  min-height: 45px;
  min-width: 45px;
  text-align: center;
  padding: 1rem 0.2rem;
}

body {
  background-color: $main;
}

.skip-link-main,
.skip-link-favorite,
.skip-link-list {
  position: absolute;
  top: -70px;
  left: 0;
  background-color: black;
  color: white;

  z-index: 100;
}

.skip-link-main:focus,
.skip-link-favorite:focus,
.skip-link-list:focus {
  top: 1rem;
  left: 0.5rem;
}

// navbar section
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: $secondary;
  height: 10vh;
  position: fixed;
  z-index: 10;

  .logo {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    a {
      text-decoration: none;
      color: $text;
    }

    a:focus {
      outline: white solid 1px;
      outline-offset: 3px;
      border-radius: 5px;
    }
  }

  .navbar {
    margin-right: 1.5rem;
    .navbar-nav {
      display: flex;
      list-style-type: none;
      gap: 3rem;

      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 1.3rem;
      }

      a:focus {
        outline: white solid 1px;
        outline-offset: 3px;
        border-radius: 5px;
      }
    }
  }

  .ham {
    display: none;

    button {
      margin-right: 2rem;
      display: block;
      background-color: transparent;
      cursor: pointer;
      min-height: 46px;
      min-width: 46px;
      padding-inline: 0.5rem;

      .hamburger-menu {
        position: absolute;
        color: transparent;
      }
    }

    #hamburger-line-top {
      transform-origin: top left;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    #hamburger-line-mid {
      transform-origin: center;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    #hamburger-line-bottom {
      transform-origin: bottom left;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hamburger-line {
      margin: 0.5rem 0;
      display: block;
      width: 36px;
      height: 6px;
      background-color: white;
    }

    .hamburger-active > span:nth-child(1) {
      transform: rotate(45deg);
    }

    .hamburger-active > span:nth-child(2) {
      transform: scale(0);
    }

    .hamburger-active > span:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

// hero section
main {
  .hero {
    height: 100vh;
    background-image: url("../public/images/heros/hero-image_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    div {
      padding-top: 28rem;
      margin: 0 auto;
      width: fit-content;
      h1 {
        font-size: 5rem;
        color: $text;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        font-family: Allura, sans-serif;
      }
    }
  }
}

// menu section
.menu {
  margin-bottom: 3rem;

  .menu-restaurant {
    display: grid;
    max-width: 1500px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    gap: 2rem;

    .card-menu {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 400px;
      margin-bottom: 60px;
      margin: 0 auto;

      .card-menu > div {
        box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
      }

      .card-image {
        width: 100%;
        height: 350px;
      }

      .card-image > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .card-text {
        margin: -30px auto;
        margin-bottom: -50px;
        height: 250px;
        width: 300px;
        background-color: #1d1c20;
        color: #fff;
        padding: 20px;

        .card-title {
          font-size: 2rem;
          margin-bottom: 20px;
          margin-top: 5px;
        }

        .card-body {
          font-size: 1.25rem;
        }
      }

      .card-price {
        width: 100px;
        height: 100px;
        background-color: #970c0a;
        color: #fff;
        margin-left: auto;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// content section

.title-section {
  text-align: center;
  margin: 2rem auto;
  width: fit-content;
  font-size: 3rem;
  color: black;
}

.favorite,
.restaurant-list {
  padding-top: 10vh;
  min-height: 100vh;
}

.articles {
  display: grid;
  max-width: 1500px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  margin-bottom: 2rem;

  .card-restaurant {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;

    img {
      max-width: 100%;
      transform-origin: center;
      transform: scale(var(--img-scale));
      transition: transform 0.4s ease-in-out;
    }

    figure {
      margin: 0;
      padding: 0;
      aspect-ratio: 16 / 9;
      overflow: hidden;
    }

    h2 {
      margin: 0 0 18px 0;
      font-family: "Bebas Neue", cursive;
      font-size: 1.5rem;
      letter-spacing: 0.06em;
      color: var(--title-color);
      transition: color 0.3s ease-out;
    }

    .article-body {
      padding: 24px;
    }

    a {
      display: inline-block;
      padding: 12px 24px;
      border-radius: 8px;
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      font-style: italic;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.card-restaurant:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

// footer section
footer {
  background-color: $secondary;
  width: 100%;
  position: relative;
  bottom: 0px;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
}

// like button
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;

  position: fixed;
  bottom: 10rem;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

// detailed restaurant

.detail-container {
  min-height: 100vh;
}

.detailed-restaurant {
  padding-inline: 3rem;
  padding-top: 5vh;
  padding-bottom: 5vh;

  .customer-tittle {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 2rem;
  }

  .review-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;

    .snip1533 {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      color: #000000;
      display: inline-block;
      font-family: "Roboto", Arial, sans-serif;
      font-size: 16px;
      height: 220px;
      position: relative;
      text-align: center;

      background-color: #ffffff;
      border-radius: 5px;
      border-top: 5px solid #d2652d;
    }

    .snip1533 *,
    .snip1533 *:before {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out;
    }

    .snip1533 figcaption {
      padding: 13% 10% 12%;
    }

    .snip1533 figcaption:before {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      color: #d2652d;
      content: "\f10e";
      font-family: "FontAwesome";
      font-size: 32px;
      font-style: normal;
      left: 50%;
      line-height: 60px;
      position: absolute;
      top: -30px;
      width: 60px;
    }

    .snip1533 h3 {
      color: #3c3c3c;
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      margin: 10px 0 5px;
    }

    .snip1533 h4 {
      font-weight: 400;
      margin: 0;
      opacity: 0.5;
    }

    .snip1533 blockquote {
      font-style: italic;
      font-weight: 300;
      margin-bottom: 4rem;
      height: 40px;
    }
  }

  .title-section {
    padding-top: 2rem;
  }

  .restaurant-detailed-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    img {
      max-width: 500px;
      height: auto;

      object-fit: cover;
    }
    .detailed-body {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      h2 {
        font-size: 3rem;
      }
      .rating {
        background-color: yellow;
        position: absolute;
        right: 2rem;
        bottom: 1px;
        padding: 1rem;
        border-radius: 1rem;
      }

      .button-8 {
        background-color: #e1ecf4;
        border-radius: 3px;
        border: 1px solid #7aa7c7;
        box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
        box-sizing: border-box;
        color: #39739d;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
          sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.15385;
        margin: 0;
        outline: none;
        padding: 8px 0.8em;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        white-space: nowrap;
      }

      .button-8:hover,
      .button-8:focus {
        background-color: #b3d3ea;
        color: #2c5777;
      }

      .button-8:focus {
        box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
      }

      .button-8:active {
        background-color: #a0c7e4;
        box-shadow: none;
        color: #2c5777;
      }
    }
  }

  .detailed-sub-body {
    margin-top: 1rem;
    .the-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 4rem;

      div {
        background-color: green;
        padding: 1rem;
        border-radius: 1rem;

        p {
          font-weight: bold;
          font-size: large;
        }
        li {
          list-style-type: none;
        }
      }
    }
  }

  .menu-container {
    padding-top: 2rem;
  }
}

.title-section-restaurant {
  text-align: center;
  padding-top: 10vh;
  width: fit-content;
  font-size: 3rem;
  color: black;
}

//loader
.loader {
  position: relative;
  left: 50%;
  top: 10rem;
  transform: translateX(-50%);
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}

.loader.hidden {
  display: none;
}
.loader:before {
  content: "Loading...";
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

// Media Queries
// Laptop
@media screen and (max-width: 1366px) {
  html {
    font-size: 80%;
  }

  .restaurant-detailed-wrapper {
    img {
      width: 400px;
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 75%;
  }

  .restaurant-detailed-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    figure {
      padding-inline: 1rem;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  header {
    .navbar {
      position: absolute;
      display: none;
      top: 6rem;
      width: 100%;
      height: full;
      max-width: 250px;
      background-color: white;
      border-radius: 12px;
      transition: 0.3s;

      .navbar-nav {
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        margin: 2rem;

        a {
          font-size: 2rem;
          color: black;
        }

        a:hover {
          transform: translate(0, -3px);
        }
      }

      &.active {
        display: block;
        right: 3rem;
      }
    }

    .ham {
      display: block;
    }
  }
}

// mobile phone
@media screen and (max-width: 450px) {
  html {
    font-size: 70%;
  }
  .menu-restaurant {
    width: 300px;
    .card-menu {
      width: 70%;
      height: 70%;
      margin: 0;

      .card-text {
        height: 300px;
        width: 80%;
      }

      .card-price {
        width: 50px;
        padding: 4rem;
      }
    }
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
